/* *{
    margin: 0;
    padding: 0;
} */

body{
    /* position: relative; */
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color:rgb(247, 242, 233);
}
h1 {
    font-size: 3em;
    text-transform: uppercase;
}
p{
    word-wrap: break-word;
}
.navbar{
    /* position: absolute; */
    width: 100%;
    height: 10%;
}
/* .navbar ul{
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: white;
} */
.navbar ul li{
    display: inline;
}
.navbar ul li a{
    text-decoration: none;
    list-style: none;
    float: right;
    width: 10%;
    margin-top: 2%;
    color: black;
}
.top-banner{
    /* position: absolute; */
    width: 100%;
    height: 80%;
    top: 13%;
    margin-top: 3%;
}
 .half-width{
    width: 40%;
    margin-left: 5%;
    float: left;
    height: 100%;

}

.half-width img{
    width: 80%;
    margin-top: -12%;
    /* margin-left: 5%; */
}
span{
    color: rgb(214, 71, 100);
}
.link-button{
    display: inline-block;
    margin-top: 2%;
    font-size: 1.2em;
    padding: 2% 8% ;
    background-image: linear-gradient(45deg,orange,rgb(214, 71, 100));
    border-radius: 5px;
    text-decoration: none;
    color: white;
}



/* second section styling */
.about{
    margin-top:5%;
    margin-left: 10%;
}
/* i .fa{
    color: white;
    font-size: .5em;
   padding-left: -8%;
} */