

body{
    
    width: 100%;
    height: 100vh;
    margin: 0;
   
}
h1 {
    font-size: 3em;
    text-transform: uppercase;
}
p{
    word-wrap: break-word;
}



    
.navbar{
   
    width: 100%;
    height: 10%;
   
}

.navbar ul li{
    display: inline;
}
.navbar ul li a{
    text-decoration: none;
    list-style: none;
    float: right;
    width: 10%;
    margin-top: 2%;
    color: black;
}
.top-banner{
   
    width: 100%;
    height: 80%;
    margin-top: 3%;

}
 .half-width{
    width: 40%;
    margin-left: 5%;
    float: left;
    height: 100%;

}

.top-banner .half-width img{
    margin-top: 30px;
}
.half-width img{
    width: 80%;
}

span{
    color: rgb(247, 60, 3);
}
.link-button{
    display: inline-block;
    margin-top: 2%;
    font-size: 1.2em;
    padding: 2% 8% ;
    background-color:rgb(247, 60, 3) ;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}



/* second section styling */

.second-banner{
     width: 100%;
    height: 80%;
 

}
.about{
    margin-top:5%;
    margin-left: 10%;
    margin-bottom: 0%;
    
}
/* skill section */

.third-section{
    height: 100%;
    width: 100%;
}
.skill{
    margin-top: 10%;
    width: 100%;
    height: 90%;
    
}

.heading{
    text-align: center;
  
}
.first-half{
    box-sizing: border-box;
    padding-right: 40px;
}
.second-half{
    margin-top: -1%;
}
.half-width .error{
    width: 100%;
    height: 40px;
    margin-top: 5%;
  
}
.name{

    margin-top: 10px;
    width: 10%;
    height: 20px;
    margin-right: 10%;
    float: left;
    text-transform: uppercase;
}
 .color{
    float: left;
    height: 10px;
    width: 40%;
    margin-top: 15px;
    margin-right: 20px;
    background-image: linear-gradient(90deg,tomato,rgb(255, 72, 0));
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.percentage{
    margin-top: 10px;
    width: 10%;
    height: 20px;
    float: right; 
}
.two{
    width: 25%;
    
}
.three{
    width: 35%;
   
}
.four{
    width: 30%;

}
.five{
    width: 50%;

}


/* project section styling */
.projects{
    width: 100%;
    height:110% ;
    padding-top: 10%;
    background-color:rgb(235, 221, 221);
    margin-top: 0;
}

.project{
 
    margin-left: 8%;
}
.onethird-width{
    margin-top: 40px;
    width: 25%;
    height: auto;
    margin-left: 4%;
    float: left;
    border-radius: 20px;
    background-color: rgb(241, 236, 236);
    height: 300px;
    text-align: center;
    box-shadow: 10px 10px 20px gray;
    
}

.onethird-width img{
    width: 80%;
    height: 100%;
    margin-top: 5%;

}


/* last part  */
.contact{
    width: 100%;
    height: 90%;

}
 .chat{
     position: relative;
     top: 20%;
        margin-left: 15%;
        height: 40%;
        width: 70%;
        background-image: url("images/last image.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
       border-radius: 10px;
     
   
}
.contact .chat h1{
    margin-top: 85px;
    margin-left: 5%;
    text-align: center;
    float: left;
    color: white;
}
.contact .chat a{
    font-size: 1.5em;
    padding: 2% 6%;
    margin-top: 85px;
    margin-right: 5%;
    float: right;
}
.contact-me{
    text-align: center;
    margin-top: 15%;
}
.contact-me img{
    height:30px;
    width: 30px;
    margin-left: 10px;
}




 